* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css?family=Lato|Montserrat&display=swap");

body {
  font-family: "Lato", "Montserrat", Georgia, "Times New Roman", sans-serif;
  height: 100vh;
  background-color: #40513b;
}
