.label-container {
  .label {
    b {
      letter-spacing: 0.5px;
      font-size: 1rem;
    }
  }

  .input,
  .email {
    height: 30px;
    width: 250px;
    padding: 6px;
    font-size: 1.2rem;
    margin: 3px 0;
    border-collapse: collapse;
  }
  .input {
    text-transform: capitalize;
  }

  .email {
    text-transform: lowercase;
  }

  .displayErrors .input:invalid {
    border-color: red;
  }
}
