@import "../commons/variable.scss";

.wrapper {
  margin-top: 50px;
  padding-bottom: 100px;
  padding-inline: 50px;
}
.button-container {
  width: 100vw;
  flex-direction: row;
  justify-content: flex-start;
  margin: 20px 0;
  padding-right: 50px;

  > button {
    margin-inline: 10px;
  }
}

.home-page {
  width: 100%;
  .search {
    max-width: 400px;
  }
  .table {
    max-width: 1700px;
    border-collapse: collapse;
    margin: 50px auto 50px auto;
    .desktop {
      display: none;
    }
  }

  th {
    background-color: #333;
    color: #111;
    font-weight: bold;
  }

  td,
  th {
    padding: 6px;
    border: 0.5px solid #ccc;
    text-align: left;
    font-size: 16px;
    line-height: 18px;
  }

  th,
  td {
    text-align: center;
  }
  td:nth-of-type(3),
  th:nth-last-of-type(3) {
    max-width: 150px;
  }

  .email {
    overflow-wrap: break-word;
    max-width: 100px;
  }

  @media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px) {
    .table {
      .mobile {
        display: block;
      }
      .desktop {
        display: none;
      }
    }
    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }
    table {
      td {
        padding-block: 1.5rem;
      }
    }
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    tr {
      margin: 0 0 1rem 0;
    }

    tr:nth-child(2n + 1) {
      background: var(--color-gray100);
    }

    th {
      text-align: left;
    }
    td {
      border: none;
      border-bottom: 1px solid var(--color-gray300);
      position: relative;
      padding-left: 50%;
      text-align: left;
    }
    th,
    td {
      font-size: 16px;
    }

    td:before {
      position: absolute;
      top: 0;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }
    .email {
      overflow-wrap: normal;
    }

    td:nth-of-type(1):before {
      content: "First name";
    }
    td:nth-of-type(2):before {
      content: "Last name";
    }
    td:nth-of-type(3):before {
      content: "Phone";
    }
    td:nth-of-type(4):before {
      content: "Email";
    }
    td:nth-of-type(5):before {
      content: "Shipping address";
    }
    td:nth-of-type(6):before {
      content: "Delivery address";
    }
  }
  @media (min-width: 1200px) {
    .table {
      .mobile {
        display: none;
      }
      thead {
        background-color: var(--color-black1);
        th {
          color: var(--color-white);
          height: 2rem;
          line-height: 2rem;
        }
      }
      tbody {
        tr:nth-child(2n + 1) {
          background-color: var(--color-gray100);
        }
        tr:nth-child(4n + 1) {
          background-color: var(--color-gray300);
        }
      }

      th,
      td {
        padding: 2px 6px;
        font-size: 14px;
        vertical-align: middle;
      }
      .desktop-thead {
        display: table-header-group;
      }
      .desktop-row {
        display: table-row;
      }
    }

    .email {
      max-width: 250px;
    }
  }
  @media (min-width: 1400px) {
    td,
    th {
      padding: 4px 10px;
      font-size: 16px;
      font-weight: 14px;
    }
    td {
      overflow: hidden;
      text-overflow: ellipsis;
      word-wrap: break-word;
    }
    .email {
      max-width: 300px;
    }
  }
}
