.form-container {
  height: 100vh;
  margin: 50px 0;

  .form {
    width: 90%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 0 auto;
  }
  .input-container,
  .address-input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
  }

  .input-container:nth-of-type(2) {
    justify-content: flex-start;
  }

  .subtitle {
    padding: 5px 0;
    color: #333;
    letter-spacing: 1.5px;
  }

  .email {
    text-transform: lowercase;
  }

  @media (min-width: 620px) {
    .input-container {
      width: 95%;
      flex-direction: row;
      justify-content: space-between;
    }

    .address-input-container {
      width: 95%;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .submit-button {
    width: 100px;
    height: 40px;
    font-size: 1.5rem;
    color: #ccc;
    background-color: #222;
    margin: 20px auto;
    border: none;
    border-radius: 5px;
    letter-spacing: 0.5px;
  }
  .submit-button:hover {
    color: #222;
    background-color: #fff;
  }

  @media (min-width: 750px) {
    .form {
      width: 80%;
    }
  }
  @media (min-width: 900px) {
    .form {
      width: 70%;
    }
  }
}
