.add-button-container {
  margin-right: 20px;
  .add-button {
    width: 100px;
    height: 30px;
    color: white;
    background-color: #222;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;

    .icon-plus {
      margin-right: 10px;
      font-size: 1.1rem;
    }
  }
}
