.edit-button {
  padding: 6px;
  font-size: 1.1rem;
  border: 1px solid #ccc;
  background-color: #eee;
  letter-spacing: 0.3px;
  letter-spacing: 2px;
  cursor: pointer;
}

.icon-edit {
  margin-right: 3px;
  color: blue;
}
