:root {
  --color-primary: #111111;
  --color-secondary: #dd0000;
  --color-additional: #ffce00;
  --color-black1: #111111;
  --color-white: #fff;
  --color-gray100: #f8f9fa;
  --color-gray300: #e9ecef;
  --color-gray400: #c4c4c4;
}
